    
<header>
    <link rel="stylesheet" href="css/style.css">
    <h1 class="titel">Fish movie Ratings</h1>
    <div class="topnav">
            <img class="fish" src="/images/external-content.duckduckgo.com.png">
            <a class="homelink"href="/">home</a>
            <a class="movieslink" href="/movies">movies</a>
    </div>
</header>
